#poststuff .mailchimp-tools h3,
#poststuff .mailchimp-tools h4 {
  margin: 0;
  padding: 0;
}

#poststuff .mailchimp-tools h3 {
  margin-top: 2em;
}
#poststuff .mailchimp-tools h3:first-child {
  margin-top: 0;
}
#poststuff .mailchimp-tools h4 {
  margin: 1em 0 1em 2em;
}

.mailchimp-tools .segment-list {
  margin: 0 0 1em 2em;
}

.mailchimp-tools input[type="text"] {
  width:100%;
  max-width:500px;
}
