#poststuff .mailchimp-tools h3,
#poststuff .mailchimp-tools h4 {
  margin: 0;
  padding: 0;
}

.mailchimp-tools h3,
.mailchimp-tools #mailchimp-tools-template,
#poststuff .mailchimp-tools h3,
#poststuff .mailchimp-tools #mailchimp-tools-template {
  margin-top: 2em;
}
#poststuff .mailchimp-tools h3:first-child {
  margin-top: 0;
}
.mailchimp-tools h4,
#poststuff .mailchimp-tools h4 {
  margin: 1em 0 1em 2em;
}

.mailchimp-tools .group-list,
.mailchimp-tools .segment-list {
  margin: 0 0 1em 2em;
}

.mailchimp-tools .group-list li > ul {
  margin: 1em 0 1em 3em;
}

.mailchimp-tools input[type="text"] {
  width:100%;
  max-width:500px;
}

.mailchimp-tools-campaign-preview {
  max-width: 100%;
  border: 1px solid #ddd;
}

/* Modal */
.mailchimp-tools-modal {
  position: fixed;
  width: 500px;
  min-height: 180px;
  max-height: 80%;
  background: #fafafa;
  border: 1px solid #ccc;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  display: none;
  z-index: 100102;
  box-shadow: 0 1px 12px #999;
  border-radius: 4px;
}
.mailchimp-tools-modal-header {
  background: #eee;
  width: 100%;
  float: left;
  border-bottom: 1px solid #ddd;
}
.mailchimp-tools-modal-close {
  float: right;
  margin: 10px;
  color: #555;
}
.mailchimp-tools-modal-close:hover {
  color: #222;
  cursor: pointer;
}
.mailchimp-tools-modal-content,
.mailchimp-tools-modal-actions {
  padding: 10px;
  float: left;
  clear: both;
  width: 480px;
}
.mailchimp-tools-modal-content {
  font-size: 16px;
  margin-bottom: 50px;
  padding-top: 20px;
}
.mailchimp-tools-modal-actions {
  bottom: 0;
  position: absolute;
  text-align: right;
  border-top: 1px solid #eee;
}
.mailchimp-tools-modal-actions .spinner {
  display: none;
  float: left;
}
#mailchimp-tools-modal-overlay {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100101;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: none;
}
body.mailchimp-tools-modal-open .mailchimp-tools-modal {
  display: none;
}
body.mailchimp-tools-modal-open .mailchimp-tools-modal.show,
body.mailchimp-tools-modal-open #mailchimp-tools-modal-overlay {
  display: block;
}
.mailchimp-tools-error-modal strong {
  color: #a00;
}

/* Test emails modal */
.mailchimp-tools-test-emails h3 {
  margin-top: 0;
}
.mailchimp-tools-test-emails input {
  width: 100%;
  margin: 10px 0;
}
